@{
    ViewData["Title"] = "Home Page";
}

<div>
    <br /><br /><br /><br />
    <form asp-controller="Home" method="post">
        Step 1) <input type="submit" value="Deploy Contract" formaction="DeployContract" />
        <br /><br />
        Step 2) <input type="submit" value="Place Order" formaction="PlaceOrder" />
        <br /><br />
        Step 3) <input type="submit" value="Manufacturing Complete" formaction="ManufacturingComplete" />
        <br /><br />
        <hr />
        To check order status click : <input type="submit" value="Check Order Status" formaction="CheckOrderStatus" />
        <br /><br />
    </form>
</div>

<br /><br />
<h4 style="color:white; background-color:darkgreen; padding:10px;">
    @ViewBag.Result
</h4>